/build/
/dist/
/.superpowers/
*.ppu
*.o
*.dcu
*.exe
*.dll
*.so
*.dylib
*.a
*.compiled
*.identcache
*.local
*.res
__pycache__/
*.dproj
*.stat
__history/
__recovery/
Win32/
Win64/
/demo/QuickStart
/demo/ContextDemo
/demo/PeriodicDemo
/demo/RuntimeDemo
